/*-------- GLOBAL STYLES ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.5rem;
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 400;
    color:#2F4F2F;
    line-height: 1.5;
    background-color: whitesmoke;
  }
  /*-------- TYPOGRAPHY ---------*/

h1 {
    font-size: 3.8rem;
    font-family: "Playfair Display", serif;
    color: #F5F5DC;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  h2,
  h3 {
    color: #2F4F2F;
    font-family: "Playfair Display", serif;
  }
  
  h2 {
    font-size: 35px;
  }
  h3{
    font-size: 25px;
  }
  a {
    color: #2F4F2F;
    display: block;
    margin: 16px 0;
    padding: 12px 48px;
    text-decoration: none;
  }
  
  a.button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #D99152;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 26px 0;
   
  }

  /*-------- UTILITY ---------*/
  .content-width {
    width: 334px;
    margin: auto;
  }
/*-----------HEADER-----------------*/
header{
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header img{
    max-width:100px;
    margin:8px;
}
nav {
    text-align: right;
    display: flex;
    flex-direction: column;
  }
header nav ul{
    display: none;
    list-style-type: none;
}
.show-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toggle .fa-bars {
    font-size: 30px;
    color:#2F4F2F;
  }
/*---------------HERO---------------------*/
.hero{
    background-image: url("images/hero.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 10px;
}
.hero h1{
    color: #F5F5DC;
    margin-bottom: 20px;
}
.hero p{
    color:#F5F5DC;
}
/*-------------ABOUT--------------------*/
.about{
    background-color: #2F4F2F;
    padding: 20% 10%;
}
.about h2{
    color:#F5F5DC;
}
.about p{
    margin-top: 5%;
    color: #F5F5DC;
}
.about a{
    color:#D99152;
    text-decoration: underline;
    margin-left: 0;
    padding-left: 0;
}
/*-------------------seasonal-highlights----------*/
.seasonal-highlights{
    background-color: #F5F5DC;
    color:#2F4F2F;
    margin:10% 5%;
    text-align: center;
}
.seasonal-highlights h2{
    color:#2F4F2F;
}
.seasonal-highlights img{
    width: 100%;
    height: 250px;
}
.seasonal-highlights p{
    padding: 5%;
    text-align: left;
}
.seasonal-highlights a{
    text-transform: capitalize;
}
/*--------------------------VISITOR SECTION--------------------*/
.video-section {
    position: relative;
    height: 100vh; /* Adjust based on section height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2F4F2F;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.6; /* Adjust opacity for contrast */
  }
  
  .visitor-content {
    position: relative;
    z-index: 1;
    background-color: #f5f5dca8;
    margin-left: 3%;
    margin-right: 3%;
    padding:20% 5%;
    border-radius: 10px;
  }
  .visitor-content p{
    margin-top: 5%;
  }
  /*--------------------------EVENTS------------------*/
  .events{
    margin:10% 0;
  }
  .events h2{
    text-align: center;
    padding-bottom: 5%;
  }
  .events .card{
    margin:10% 5%;
  }
 .card img{
  width:100%;
 }
 .card p{
  margin-top: 3%;
 }
 .card a{
  color:#D99152;
  text-decoration: underline;
  padding:0;
  
  text-transform: uppercase;
 }