/*-------- GLOBAL STYLES ---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #2F4F2F;
  line-height: 1.5;
  background-color: whitesmoke;
}

/*-------- TYPOGRAPHY ---------*/

h1 {
  font-size: 3.8rem;
  font-family: "Playfair Display", serif;
  color: #F5F5DC;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 0;
}

h2,
h3 {
  color: #2F4F2F;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h2{
  font-size: 3rem;
}

a {
  color: #2F4F2F;
  display: block;
  margin: 16px 0;
  padding: 15px 48px;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover{
  text-decoration: underline;
  transform: scale(1.05);
}
a.button {
  color: #ffffff;
  background-color: #D99152;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 26px 0;
  transition: all 0.3s ease;
}
a.button:hover{
  background: #3d673d;
  transform: scale(1.05);
}
/*-------- UTILITY ---------*/
.content-width {
  width: 334px;
  margin: auto;
}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  .content-width {
    width: 690px;
  }
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
.content-width {
  width: 1130px;
}
}
/*-----------HEADER-----------------*/
.header{
  background-image: url("images/hero.png");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.nav-header {
  background-color: #233923c3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.nav-header img {
  max-width: 100px;
  margin: 1rem;
}

nav {
  text-align: right;
  display: flex;
  flex-direction: column;
}

header nav ul {
  list-style-type: none;
}

header nav ul li a {
  color: #F5F5DC;
}

.show-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle{
  padding: 15px;
}
.toggle .fa-bars {
  font-size: 30px;
  color: #F5F5DC;
}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  .header {
    min-height: 80vh;
  }
  .toggle{
    margin-top: 25%;
  }
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .header{
    min-height: 100vh;
  }
   .nav-header{
    align-items: center;
   }
   .nav-header img{
    margin:1%;
   }
  .toggle {
    display: none;
  }

  .nav-header ul {
    display: flex;
    justify-content: center;
  }

  .header nav ul li a {
    color: #F5F5DC;
  }
}

/*---------------HERO HOME---------------------*/
.hero-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5%;
  margin-top: 20%;
}

.hero-home h1 {
  color: #F5F5DC;
  margin-bottom: 5%;
}

.hero-home p {
  color: #F5F5DC;
}

.hero-home a {
  margin: 10% 25%;
}
.hero-home a.button:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #D99152;
  color:#D99152;

}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  .hero-home {
    margin-top: 30%;
    padding: 0 15%;
  }

  .hero-home a {
    text-align: center;
    margin: 10% 35%;
  }
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .hero-home{
    margin-top: 10%;
  }
  .hero-home h1{
    margin-bottom: 2%;
    font-size: 6.6rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
  }
  .hero-home a{
    margin: 5% 40%;
    font-size: 1.8rem;
  }
  
}

/*----------------MAIN--------------------*/

/*-------------------seasonal-highlights----------*/
.seasonal{
  padding: 5% 0;
}
.seasonal-highlights {
  color: #2F4F2F;
  margin:3%;
  text-align: center;
}

.seasonal-highlights h2 {
  color: #2F4F2F;
}

.seasonal-highlights img {
  width: 100%;
  height: 50%;
}

.seasonal-highlights p {
  padding: 5%;
  text-align: left;
}

.seasonal-highlights a {
  text-transform: capitalize;
}
/*-----------Figure section------------*/
.figure-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap:10px;
}
.figure-section figure{
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.figure-section figure img {
  width: 30rem;
  height:20rem;
  transition: transform 0.4s;
}

.figure-section figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.6);
  color: #F5F5DC;
  font-size: 2.3rem;
  font-weight: bold;
  transform: translateY(10);
  transition: transform 0.5s;
  display: none;
}
.figure-section figcaption.berries{
  background: rgba(65, 2, 2, 0.6);
}
.figure-section figcaption.coneflower{
  background: rgba(87, 51, 5, 0.6);
}
.figure-section figcaption.winter-heather{
  background: rgba(44, 2, 61, 0.6);
}
.figure-section figcaption.witch-hazel{
  background-color: rgba(101, 46, 4, 0.6) ;
}

.figure-section figure:hover img {
  transform: scale(1.2);
}
.figure-section figure:hover figcaption {
  transform: translateY(0%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  .figure-section{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .figure-section figure img{
    width: 45rem;
    height: 30rem;
  }
}
/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .seasonal-highlights{
    padding: 5%;  
    padding-top: 0;
  }
  .figure-section{
    flex-direction: row;
    justify-content: center;
  }
  .figure-section figure img{
    width:50rem;
  }
}

/*--------------------------VISITOR SECTION--------------------*/
.video-section {
  position: relative;
  height: 100vh;
  /* Adjust based on section height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2F4F2F;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.6;
  /* Adjust opacity for contrast */
}

.visitor-content {
  position: relative;
  z-index: 1;
  background-color: #f5f5dca8;
  margin-left: 3%;
  margin-right: 3%;
  padding: 20% 5%;
  border-radius: 10px;
}

.visitor-content p {
  margin-top: 5%;
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .visitor-content {
    height: 80%;
    margin: 20%;
    padding: 10% 5%;
  }
}

/*--------------------------EVENTS------------------*/
.events{
  padding: 5% 0;
}
.events h2 {
  text-align: center;
}

.events .card {
  margin: 10% 5%;
}

.card img {
  width: 100%;
}

.card p {
  margin-top: 3%;
}

.card a {
  color: #D99152;
  text-decoration: underline;
  padding: 0;
  text-transform: uppercase;
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
 
  .events .card {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-around;
    margin: 3% 10%;
  }

  .card img {
    width: 50%;
  }
}

/*-------------ABOUT Home--------------------*/
.about-home {
  background-color: #2F4F2F;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-home h2 {
  color: #F5F5DC;
  text-align: center;
}
.about-home h3{
  color:#F5F5DC;
  font-size: 3rem;
}
.about-home p {
  margin-top: 5%;
  color: #F5F5DC;
}

.about-home a{
  color: #D99152;
  text-decoration: underline;
  margin-left: 0;
  padding-left: 0;
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .about-home {
    padding: 10%;
  }
}
/*--------------------------SIDEBAR-----------------------*/
.sidebar {
  background-image: url("images/Sidebar.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  text-align: center;
  margin: 5% 0;
}

.sidebar p {
  margin-bottom: 3%;
}

.sidebar span {
  color: #D99152;
  font-size: 2rem;
}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  .sidebar {
    height: 50vh;
    padding: 0 10%;   
  }
  .sidebar h2{
    margin:0 20%;
  }
  .sidebar span {
    font-size: 4rem;
  }
  .sidebar h4 {
    margin: 3% 0;
  }
}
/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .sidebar{
    height: 100vh;
    margin:0;
    padding: 2% 10%;
    text-align: center;
  }

}
/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .home-grid{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    justify-content: space-around;
    gap:1%;
  }
  }
/*------------------------FOOTER------------------------------*/
.footer-nav {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.social-links a {
  padding: 0;
}

.footer i{
  color: #2F4F2F;
  padding-right: 20px;
}

.footer-footer {
  text-align: center;
  margin: 5% 10%;
}

.footer-footer p {
  color: grey;
}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  footer{
    padding-top: 5%;
  }
  .footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
}

/*---------------------------------------ABOUT-------------------------------*/
.header-about{
  background-color: #3d673d;
}
.about {
  padding: 20px;
}

.about h1,h2,h3 {
  text-align: center;
  color:#2F4F2F;
}
.header-style{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-style hr{
  height: 1px;
  background-color: #2F4F2F;
  width: 27%;
}
.about article {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}
.about figure {
  text-align: center;
  margin:5% 0;
}
.about figure img{
  width:100%; 
}
.about figcaption {
  font-style: italic;
  font-size: 0.9rem;
  color: #666;
}
/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
 
  .about .about-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap:2%;
    margin-top: 5%;
  }
  .about figure{
    margin:0;
  }
  .about figure img{
    width: 25rem;
  }
  .header-style hr{
    width:40%;
  }
}
/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .about figure img{
    width: 50rem;
  }
  .header-style{
    margin-top: 3%;
  }
  .header-style hr{
    width:43%;
  }
}

